<app-navbar></app-navbar>
<div class="container">
  <div class="row">
    <div class="my-3">
      <div class="d-flex justify-content-center input-group">
        <div class="form-outline">
            <input class="form-control" type="search" id="search" placeholder="Search" [(ngModel)]="criteria">
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 my-3" *ngFor="let character of (characters | filter:criteria)">
      <app-users-cards  [character]="character" ></app-users-cards>
    </div>
  </div>
  <div class="d-flex justify-content-around my-3">
    <a class="btn btn-primary" href={{data.info.prev}} *ngIf="data.info.prev" (click)="onClickPrevious($event,data)">Previous</a>
    <a class="btn btn-primary" href={{data.info.next}} (click)="onClickNext($event,data)">Next</a>
  </div>
</div>